/*
::-webkit-scrollbar {
    width: 20px;
}

*/

/*
#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 15px;
    height: 100%;
    background: rgba(5, 5, 5, 0.0);
}*/

/* progressbar */

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 15px;
    background: linear-gradient(to top, #0a354a, #4687a9);
}
/*
#progressbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #0a354a, #4687a9);
}*/

/*
#progressbar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #0a354a, #4687a9);
    /*   filter: blur(0px);
}
*/

/* body */

body {
    font-family: 'Tinos', serif;
    margin: 0;
    background: #85adad;
}

.container {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding: 0 2rem;
}

@media screen and (max-width: 580px) {
    .container {
        padding: 0 2rem;
    }
}

h1, h2, h3 {
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 8px;
}

h1 {
    color: #FFFF;
    font-size: 60px;
}

h2 {
    color: #f7f9fb;
    font-size: 48px;
}

h3 {
    color: #f7f9fb;
    font-size: 34px;
}

h4 {
    color: #f7f9fb;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 0;
}

p {
    color: #f7f9fb;
    font-size: 20px;
    line-height: 28px;
    margin: 20px 0 10px 0;
}

img {
    width: 100%;
    margin: 20px 0;
}

footer {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 1em 0;
    background: #527a7a;
}


/* fixed navigation */

nav {
    height: 60px;
    width: 100%;
    background-color: #527a7a;
    position: fixed;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    float: left;
    font-size: 20px;
    font-weight: bold;
}

nav a {
    display: inline-block;
    width: 100px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    padding: 20px 0;
    color: #f7f9fb;
    transition: 0.5s;
}

nav a:hover {
    color: #5b5b5b;
}

nav a#toggle-btn {
    display: none;
}

@media screen and (max-width: 580px) {
    nav {
        height: auto;
        border-bottom: 0;
    }

    nav ul {
        display: none;
        height: auto;
    }

    nav li {
        width: 100%;
        float: left;
        position: relative;
    }

    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
        background: #779d9d;
        color: #f7f9fb;
    }

    nav a:hover {
        color: #6C6C6C;
    }

    nav a#toggle-btn:after {
        content: "|||";
        transform: rotate(-90deg);
        width: 40px;
        height: 40px;
        display: inline-block;
        position: absolute;
        right: 5px;
        top: 20px;
    }

    nav a#toggle-btn {
        display: block;
        background: #527a7a;
        color: #f7f9fb;
        width: 100%;
        position: relative;
    }

    .menu:before, .menu:after {
        content: "";
        display: table;
    }

    .menu:after {
        clear: both;
    }

    .menu {
        zoom: 1;
    }
}


/* landing-page content */

.home-section {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.home-section .container {
    margin-top: 32vh;
}

.home-section .cursive{
    font-family: 'Parisienne', cursive;
    color: #0a354a;
    font-size: 68px;
    font-weight: bold;
}

.home-section h2 {
    color: #f7f9fb;
}

@media screen and (max-width: 580px) {
    .home-section h2 {
        font-size: 24px;
    }
}


/* about section */

#about {
    background: #527a7a;
    padding: 8rem 0;
}

#about h2 {
    margin-bottom: 2em;
}

.about-content .row {
    display: flex;
    text-align: justify;
    grid-gap: 75px;
}

.about-content .about-images {
    flex-basis: 25%;
    margin-top: 77px;
}

.about-content .about-paragraphs {
    flex-basis: 75%;
}

@media screen and (max-width: 580px) {
    .about-content .row {
        display: flex;
        text-align: justify;
        flex-shrink: 0;
    }
}


/* skills */

#skills {
    background: #85adad;
    padding: 8em 0;
}

#skills h3 {
    color: #000000;
}

#skills li {
    color: #000000;
    text-align: left;
    line-height: 40px;
    font-size: 18px;
}

.skills-content .row {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 40px;
    padding-top: 10px;
}

.skills-content .column {
    flex: 25%;
    padding: 20px;
    width: 300px;
    height: auto;
    border-radius: 25px;
    text-align: center;
}

.skills-content #languages {
    border: 2px solid #4169E1;
    background-image: linear-gradient(to bottom right, #4682B4, #B0E0E6);
}

.skills-content #coursework {
    border: 2px solid #DC143C;
    background-image: linear-gradient(to bottom right, #F08080, #FFF0F5);
}

.skills-content #syst-techs {
    border: 2px solid #755912;
    background-image: linear-gradient(to bottom right, #ce954b, #FFEFD5);
}

@media screen and (max-width: 992px) {
    .column {
        flex: 50%;
        margin-left: 15%;
    }
}

@media screen and (max-width: 580px) {
    .row {
        flex-direction: column;
    }
}


/* projects */

#projects {
    background: #527a7a;
    padding: 8em 0;
}

.projects-content {
    text-align: left;
}

.projects-content .row{
    display: flex;
    text-align: justify;
    margin-bottom: 50px;
    grid-gap: 40px;
}

.projects-content .row .project-image {
    flex-basis: 25%;
}

.projects-content .row .project-description {
    flex-basis: 75%;
}

.project-description .read-more {
    color: #f7f9fb;
    text-align: right;
    font-weight: bolder;
}

.project-image {
    margin-top: 61px;
}

.project-name {
    text-align: right;
    margin-bottom: 10px;
}

@media screen and (max-width: 580px) {
    .projects-content .row {
        display: flex;
        flex-shrink: 0;
    }

    .project-description {
        text-align: justify;
    }

    .project-name {
        text-align: center;
    }
}


/* contact section */

#contact {
    background: #85adad;
    padding-top: 7em;
    padding-bottom: 2em;
}

#contact .asterisk {
    color: red;
}

#contact .button{
    outline: none;
    border: none;
    margin: 18px 0;
    padding: 20px 20px;
    background: #34aae5;
    font-family: 'Tinos', serif;
    color: #282627;
    letter-spacing: 2px;
    font-size: large;
    font-weight: 700;
    text-transform: uppercase;
    width: 25%;
    text-align: center;
    border-radius: 5px;
}

#contact .button:hover{
    background: #6C6C6C;
    cursor: pointer;
}

#contact h2 {
    color: #f7f9fb;
}

#contact input {
    width: 60%;
    margin: 1em 0;
    background: none;
    border: 2px solid #f7f9fb;
    padding: 8px;
    font-family: 'Tinos', serif;
    font-weight: 400;
    color: black;
    border-radius: 10px;
}

#contact input:focus {
    border: none;
    outline: none;
    border: 2px solid #f7f9fb;
}

#contact .indicates-required {
    color: #f7f9fb;
    margin: 1em 0 1.5em;
}

input::placeholder {
    color: #626161;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 0;
}

label[for] {
    color: #f7f9fb;
    font-size: 20px;
}

label[placeholder] {
    font-size: 20px;
}

@media screen and (max-width: 580px) {
    .button {
        text-align: center;
        width: 10px;
        margin: auto;
    }
}


/* social-media section */

#social-media {
    text-align: center;
}

.callout {
    width: 50px;
    height: 70px;
    display: inline-block;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

@media screen and (max-width: 580px) {
    .callout {
        text-align: center;
        margin-right: 10px;
        margin-left: 10px;
    }
}


/* footer */

footer {
    width: 100%;
    text-align: center;
    padding: 1em 0;
    background: #527a7a;
}
footer span {
    color: #f7f9fb;
    font-weight: 600;
}